/** SegmentDialog API styles **/

.segmentDialog {
}

.nextSegmentButton {
}

.prevSegmentButton {
}

.segmentLabelArea {
    -fx-padding: 5 5 10 5;
    -fx-border-width: 0 0 0.4 0;
    -fx-border-color: lightgray;
}

.segmentDialogBottom {
    -fx-padding: 10;
}

.segmentLabelSeparator .graphic {
    -fx-image: url("right-arrow-white.png");
}

.segmentLabel {
}

.segmentLabel:focused {
    -fx-font-weight: bold;
}

/* Custom */

.radio-button:hover {
    -fx-background-color: #3a9fe0;
}