.segmentDialog {
    -fx-background-color: #fafafa;
}

.segmentLabelArea {
    -fx-padding: 5 5 10 5;
    -fx-border-width: 0 0 0.4 0;
    -fx-border-color: gray;
}

.segmentDialogBottom {
    -fx-padding: 10;
}

.segmentLabelSeparator .graphic {
    -fx-image: url("/com/dansoftware/sgmdialog/right-arrow.png");
}

.segmentLabel {
}

.segmentLabel:focused {
    -fx-font-weight: bold;
}